<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Scrum</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body style="background-color:#042EF3;">
	<div class="d-flex justify-content-center">
		<div class="p-2 mb-10">
			<div class="d-flex justify-content-center">
				<div class="mb-10">
					<h2 class="my-5" style="color:white"> Access Denied </h2>
				</div>
				
			</div>
			
			<div class="d-flex justify-content-center">
				<div class="p-2">
					<h3 style="color:white"> Only available for super-administrators </h3>
				</div>
			</div>
			<div class="my-5">
				<div class="d-flex justify-content-center">
					<div class="p-2">
						<p style="color:black"><a href="/" >go back main</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>